*{
    padding: 0; 
    margin: 0; box-sizing:
     border-box;
      font-family: Arial, Helvetica, sans-serif; list-style: none;}
      
/*/////// header /// */
#head{
    background-color: #fff8f1;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.main_head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
}
.logo{
    width: 14%;
}
.logo a img{
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    margin-right: 15px;
    font-size: 15px;
}
.navbar-expand-lg .navbar-nav .nav-link span {
    color: #ecb34b;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #ecb34b;
}
.donate-btn{
    margin-left: 35px;
}
.donate-btn button{
    padding: 7px 35px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    background-color: #ecb34b;
    border: 2px solid #ccc;

}
.hvr-ripple-out:before {
    border-radius: 20px;
    visibility: hidden;
}
.hvr-ripple-out:hover::before{
    visibility: visible;
}
.donate-btn button:hover{
    color: #ffffff;
    background-color: rgb(51 51 51);
}
    /* ========== hero start =========////////////// */

    .hero_area{
        background-image: url(../image/about/diya-gb727b121a_1920.jpg);
        background-repeat: no-repeat;
    background-position: center center;
    border-bottom-width: 0px;
    padding-top: 136px;
    padding-bottom: 131px;
    background-size: cover;
    }
    .bg-overlay-black-4{
        position: relative;
    }
    .bg-overlay-black-4::before{
        
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
    content: "";
    border-radius: 5px;
    }
.hero_title{
    color: #fff;
    font-family: 'Libre Bodoni', serif;
    font-weight: 400;
    font-size: 36px;
}

.hero_list{
    margin-top: 15px;
}
.hero_item{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.58;
    text-transform: uppercase;
    color: #fff;
  
}
.ol, ul {
    padding-left: 0px;
}
.hero_list a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.hero_list a:hover{
    color: #f2b263;
    text-decoration: underline;
    transition: 0.5s;
    
}
.hero_list li{
    color: #fff;
    font-size: 16px;
}
.hero_item a::after{
    content: "";
    width: 0;
    height: 1px;
    bottom: 0;
    position: absolute;
    left: auto;
    right: 0;
    z-index: -1;
}
.hero_item::before{
    display: inline-block;
    padding-right: 0.5rem;
    color: #fff;
    content: "/";

}
/* ================================
   contant-area-start
    ================================= */
.contant_area{
    margin: 80px 0;
}
.contant_box .box_icon{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    border: 2px solid #f2b263;
    color: #f2b263;
    margin: auto;
    font-size: 40px
}
.contant_box{
    text-align: center;
}
.box_title{
    margin: 15px 0;
}
.box_title h4::after{
   
    background: #f2b263;
    height: 4px;
    width: 70px;
    content: "";
    left: 42%;
    bottom: 0;
    position: absolute;

}
.box_title h4{
    font-family: 'Libre Baskerville',serif;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #333;
    line-height: 1.3;
}
.box_contant p{
    font-size: 24px;
    color: #514e4e;
}
.box_contant p a{
    color: #333;
}
.box_contant p a:hover{
    color: #f2b263;
}

/* ================================
   contant-area-end
    ================================= */

/* ================================
   contact-form-area-start
    ================================= */
.contant_form_area{
    margin: 60px 0 80px 0;
}
    .form-title{
    margin-bottom: 40px;
     font-family: 'Libre Bodoni', serif;
    font-weight: 400;
    line-height: 1.3;
    font-size: 36px;
}
.contact_input{
    margin-bottom: 20px;
}
.contact_input label{
    display: inline-block;
}
.contact_form_one .contact_input .contact-inner input{
    border-radius: 25px;
    border: 1px solid #ddd;
    outline: none;
    padding: 10px 20px;
    width: 100%;
    font-style: italic;
}
.sumbit_btn{
    background: #f8ffff;
    border-radius: 25px;
    border: 1px solid #ddd;
    padding: 6px 30px;

}
.sumbit_btn:hover{
    color: #fff;
    background-color: #333;
    transition: 0.6s;
}

/* ================================
   contact-form-area-end
    ================================= */

  
/* ===////////////////////====== footer-start ===/////////////////////==== */
.footer-area{
    background-color: #1a1a1a;
}
.footer-top{
    padding: 80px 0;
    color: #fff;
}
.footer_title{
    position: relative;
    margin-bottom: 40px;
   
}
.footer_title h6{
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;
    padding-bottom: 15px;
    font-family: "Open Sans",sans-serif;
}
.footer_title::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 50px;
    height: 3px;
    background: #fff;
}
.footer_contant ul li{
    margin-bottom: 15px;
   
    
}
.footer_contant ul{
    padding: 0;
    margin: 0;
}
.footer_contant ul li a{
    color: inherit;
    text-decoration: none;
    display: inline-block;

}
.footer_contant ul li a:hover{
    color: #f2b263;

}
.footer_logo{
    margin-bottom: 15px;
    width: 50%;
}
.footer_logo a img{
    width: 100%;
}
.news_letter_box{
    position: relative;
}
.footer_contant .news_letter_box input{
    background: #fff;
    width: 100%;
    border: none;
    padding: 8px 50px 8px 10px;
    color: #333;
    border-radius: 25px;
    position: relative;
    margin-bottom: 20px;
    outline: none;
}
.footer_contant .news_letter_box button{
    background: rgba(0,0,0,0);
    color: #333;
    position: absolute;
    right: 0px;
    border: none;
    font-size: 20px;
    padding: 0px 17px;
    top: 4px;
}
.bi bi-send::before{
    content: "\f11d";
}
.footer_socia_share li{
    display: inline-block;
    margin-right: 20px;
    font-size: 30px;;
}
/* ======/////////// footer bottem start =====////////// */

.footer_bottem{
    border-top: 1px solid #707070;
}
.copy_right_box{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.copy_right_box p,a{
    color: #fff;
    text-decoration: none;
    color: #fff;
}
.copy_right_box p a:hover{
    color: #f2b263;

}

/* ===////////////////////====== footer-end ===/////////////////////==== */
@media(max-width:425px){
    .donate-btn{
        display: none;
    }
    #head{
        position: sticky;
    }
   .logo{
    width: 60%;
   }
   .navbar-nav{
    margin-top: 10px;
   }
}