*{
    padding: 0; 
    margin: 0; box-sizing:
     border-box;
      font-family: Arial, Helvetica, sans-serif; list-style: none;}
      
/*/////// header /// */
#head{
    background-color: #fff8f1;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.main_head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
}
.logo{
    width: 14%;
}
.logo a img{
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    margin-right: 15px;
    font-size: 15px;
}
.navbar-expand-lg .navbar-nav .nav-link span {
    color: #ecb34b;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #ecb34b;
}
.donate-btn{
    margin-left: 35px;
}
.donate-btn button{
    padding: 7px 35px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    background-color: #ecb34b;
    border: 2px solid #ccc;

}
.hvr-ripple-out:before {
    border-radius: 20px;
    visibility: hidden;
}
.hvr-ripple-out:hover::before{
    visibility: visible;
}
.donate-btn button:hover{
    color: #ffffff;
    background-color: rgb(51 51 51);
}
    /* ========== hero start =========////////////// */

    .hero_area{
        background-image: url(../image/event/event-hero.jpg);
        background-repeat: no-repeat;
    background-position: center center;
    border-bottom-width: 0px;
    padding-top: 136px;
    padding-bottom: 131px;
    background-size: cover;
    }
    .bg-overlay-black-4{
        position: relative;
    }
    .bg-overlay-black-4::before{
        
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
    content: "";
    border-radius: 5px;
    }
.hero_title{
    color: #fff;
    font-family: 'Libre Bodoni', serif;
    font-weight: 400;
    font-size: 36px;
}

.hero_list{
    margin-top: 15px;
}
.hero_item{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.58;
    text-transform: uppercase;
    color: #fff;
  
}
.ol, ul {
    padding-left: 0px;
}
.hero_list a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.hero_list a:hover{
    color: #f2b263;
    text-decoration: underline;
    transition: 0.5s;
    
}
.hero_list li{
    color: #fff;
    font-size: 16px;
}
.hero_item a::after{
    content: "";
    width: 0;
    height: 1px;
    bottom: 0;
    position: absolute;
    left: auto;
    right: 0;
    z-index: -1;
}
.hero_item::before{
    display: inline-block;
    padding-right: 0.5rem;
    color: #fff;
    content: "/";

}
/* =========================
   event-area- start
   ========================== */
   .event_area{
    padding: 90px 0 80px 0;
   }
   .event_box{
    margin: 20px 0;
   }
.event_contant{
    padding: 0 5px;
   }
.event_box_img{
    width: 100%;
}
.event_box_img img{
    width: 100%;
}
.contant_title h4{
    margin: 10px 0 25px 0;
    
}
.contant_title h4 a{
    line-height: 1.3;
    font-size: 26px;
    text-decoration: none;
    color: #111111;
    font-family: 'Libre Baskerville', serif;
}
.contant_title h4 a:hover{
    color:#f2b263;
    transition: 0.5s;
}
.event_date span{
    font-size: 16px;
    font-weight: bold;
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    margin-right: 15px;
    display: inline-block;
    
}
.ticket_botton{
    width: 160px;
}
.ticket_botton a{
    text-decoration: none;
    color: #f56c2a ;
    border: 2px solid #f56c2a ;
    border-radius: 30px;
    padding: 8px 40px;
    display: inline-block;
    margin-top: 15px;
}
.ticket_botton a:hover{
    color: white;
    background-color: #f56c2a;
    transition: 0.5s;
}

/* =========================
   event-area- end
   ========================== */

  
/* ===////////////////////====== footer-start ===/////////////////////==== */
.footer-area{
    background-color: #1a1a1a;
}
.footer-top{
    padding: 80px 0;
    color: #fff;
}
.footer_title{
    position: relative;
    margin-bottom: 40px;
   
}
.footer_title h6{
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;
    padding-bottom: 15px;
    font-family: "Open Sans",sans-serif;
}
.footer_title::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 50px;
    height: 3px;
    background: #fff;
}
.footer_contant ul li{
    margin-bottom: 15px;
   
    
}
.footer_contant ul{
    padding: 0;
    margin: 0;
}
.footer_contant ul li a{
    color: inherit;
    text-decoration: none;
    display: inline-block;

}
.footer_contant ul li a:hover{
    color: #f2b263;

}
.footer_logo{
    margin-bottom: 15px;
    width: 50%;
}
.footer_logo a img{
    width: 100%;
}
.news_letter_box{
    position: relative;
}
.footer_contant .news_letter_box input{
    background: #fff;
    width: 100%;
    border: none;
    padding: 8px 50px 8px 10px;
    color: #333;
    border-radius: 25px;
    position: relative;
    margin-bottom: 20px;
    outline: none;
}
.footer_contant .news_letter_box button{
    background: rgba(0,0,0,0);
    color: #333;
    position: absolute;
    right: 0px;
    border: none;
    font-size: 20px;
    padding: 0px 17px;
    top: 4px;
}
.bi bi-send::before{
    content: "\f11d";
}
.footer_socia_share li{
    display: inline-block;
    margin-right: 20px;
    font-size: 30px;;
}
/* ======/////////// footer bottem start =====////////// */

.footer_bottem{
    border-top: 1px solid #707070;
}
.copy_right_box{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.copy_right_box p,a{
    color: #fff;
    text-decoration: none;
    color: #fff;
}
.copy_right_box p a:hover{
    color: #f2b263;

}

/* ===////////////////////====== footer-end ===/////////////////////==== */



/********************** (jq) ***************************/
.basraj{
    width: 640px;
    height: auto;
    margin: auto;
    background-color: #ccc;
    margin-top: 30px;
   
}
#form_group_btn{
    text-align: center;
    padding: 20px 0 0 0;
    
}
#form_group_btn button{
    background-color:#c91426;
    padding: 12px 50px;
    border-radius: 30px;
    border:  none;
    font-size: 18px;
    color: #fff;
    
}
#form_group_btn button:hover{
    background-color: red
}

/* ____________________________ open form _________________________________ */

.modal {
    display: none; 
    
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/* ____________________________ open form _________________________________ */
@media(max-width:425px){
    .donate-btn{
        display: none;
    }
    #head{
        position: sticky;
    }
   .logo{
    width: 60%;
   }
   .navbar-nav{
    margin-top: 10px;
   }
}