*{
    padding: 0; 
    margin: 0; box-sizing:
     border-box;
      font-family: Arial, Helvetica, sans-serif; list-style: none;}
      
/*/////// header /// */
#head{
    background-color: #fff8f1;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.main_head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
}
.logo{
    width: 14%;
}
.logo a img{
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    margin-right: 15px;
    font-size: 15px;
}
.navbar-expand-lg .navbar-nav .nav-link span {
    color: #ecb34b;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #ecb34b;
}
.donate-btn{
    margin-left: 35px;
}
.donate-btn button{
    padding: 7px 35px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    background-color: #ecb34b;
    border: 2px solid #ccc;

}
.hvr-ripple-out:before {
    border-radius: 20px;
    visibility: hidden;
}
.hvr-ripple-out:hover::before{
    visibility: visible;
}
.donate-btn button:hover{
    color: #ffffff;
    background-color: rgb(51 51 51);
}

    /* ========== hero start =========////////////// */

    .hero_area{
        background-image: url(../image/gallery/gallery_hero.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        scroll-behavior: smooth;
    }
    .bg-overlay-black-4{
        position: relative;
    }
    .bg-overlay-black-4::before{
        
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
    content: "";
    border-radius: 5px;
    }
    .hero_area{
        padding: 200px 0 200px 0;
    }
.hero_title{
    color: #fff;
    font-family: "Libre Baskerville",serif;

    font-weight: 400;
    font-size: 36px;
}

.hero_list{
    margin-top: 15px;
}
.hero_item{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.58;
    text-transform: uppercase;
    color: #fff;
  
}
.ol, ul {
    padding-left: 0px;
}
.hero_list a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.hero_list a:hover{
    color: #f2b263;
    text-decoration: underline;
    transition: 0.5s;
    
}
.hero_list li{
    color: #fff;
    font-size: 16px;
}
.hero_item a::after{
    content: "";
    width: 0;
    height: 1px;
    bottom: 0;
    position: absolute;
    left: auto;
    right: 0;
    z-index: -1;
}
.hero_item::before{
    display: inline-block;
    padding-right: 0.5rem;
    color: #fff;
    content: "/";

}
/* =========================
   gallery-area- start
   ========================== */
   .gallery_area{
    padding: 90px 0 80px 0;
   }
   .gallery_box{
    margin: 20px 0;
   }
.gallery_contant{
    padding: 0 5px;
   }
.gallery_box_img{
    width: 100%;
}
.gallery_box_img img{
    width: 100%;
   
}
.gallery_box_img a{
    display: block;
    position: relative;
}
.gallery_box_img a::after{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    content: "View";
    font-weight: 600;
    background: #f2b263;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}
.gallery_box_img a:hover::after{
    opacity: 1;
    visibility: visible;
}
.gallery_box_img img:hover{
    filter: grayscale();
    transition: 0.9s;
}

.contant_title h4{
    margin: 18px 0 25px 0;
    
}
.contant_title{
    text-align: center;
}
.contant_title h4 a{
    line-height: 1.3;
    font-size: 26px;
    text-decoration: none;
    color: #111111;
    font-family: 'Libre Baskerville', serif;
}

/* =========================
   gallery-area- end
   ========================== */

   
/* ===////////////////////====== footer-start ===/////////////////////==== */
.footer-area{
    background-color: #1a1a1a;
}
.footer-top{
    padding: 80px 0;
    color: #fff;
}
.footer_title{
    position: relative;
    margin-bottom: 40px;
   
}
.footer_title h6{
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;
    padding-bottom: 15px;
    font-family: "Open Sans",sans-serif;
}
.footer_title::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 50px;
    height: 3px;
    background: #fff;
}
.footer_contant ul li{
    margin-bottom: 15px;
   
    
}
.footer_contant ul{
    padding: 0;
    margin: 0;
}
.footer_contant ul li a{
    color: inherit;
    text-decoration: none;
    display: inline-block;

}
.footer_contant ul li a:hover{
    color: #f2b263;

}
.footer_logo{
    margin-bottom: 15px;
    width: 50%;
}
.footer_logo a img{
    width: 100%;
}
.news_letter_box{
    position: relative;
}
.footer_contant .news_letter_box input{
    background: #fff;
    width: 100%;
    border: none;
    padding: 8px 50px 8px 10px;
    color: #333;
    border-radius: 25px;
    position: relative;
    margin-bottom: 20px;
    outline: none;
}
.footer_contant .news_letter_box button{
    background: rgba(0,0,0,0);
    color: #333;
    position: absolute;
    right: 0px;
    border: none;
    font-size: 20px;
    padding: 0px 17px;
    top: 4px;
}
.bi bi-send::before{
    content: "\f11d";
}
.footer_socia_share li{
    display: inline-block;
    margin-right: 20px;
    font-size: 30px;;
}
/* ======/////////// footer bottem start =====////////// */

.footer_bottem{
    border-top: 1px solid #707070;
}
.copy_right_box{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.copy_right_box p,a{
    color: #fff;
    text-decoration: none;
    color: #fff;
}
.copy_right_box p a:hover{
    color: #f2b263;

}

/* ===////////////////////====== footer-end ===/////////////////////==== */
@media(max-width:425px){
    .donate-btn{
        display: none;
    }
    #head{
        position: sticky;
    }
   .logo{
    width: 60%;
   }
   .navbar-nav{
    margin-top: 10px;
   }
}
